
<!doctype html>
<html lang="en">
    <head>
        <script>
        </script>
    </head>
    <body>
        <div class="videoWrapper">
        <iframe id="videoFrame" src="https://meet.jit.si/<%= session[:current_user]["current_groupId"]%>" name="iframe_a"></iframe>
        </div>
    </body>
</html>