<!DOCTYPE html>
<html>
	<head>	
		<title>Register-login-form Website Template | Home :: w3layouts</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!--
		<link href='http://fonts.googleapis.com/css?family=Lobster|Pacifico:400,700,300|Roboto:400,100,100italic,300,300italic,400italic,500italic,500' ' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,500,600,700,300' rel='stylesheet' type='text/css'>
		webfonts-->
		<link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
 		<link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
 		<script type="text/javascript">
 			function showRegistration() {
 				$(".Regisration").show("slow");
 				$("#signupbutton").hide();
 			}
 		</script>
	</head>
<body>
	<container class="container-narrow">
		<div class="main">
			<div style="background:transparent !important" class="jumbotron">
				<h1>Group Projects Made Easy!</h1>
        		<p class="lead">We take all of the work out of group projects by providing the tools necessary to manage your team, organize your objectives, and communicate with group members.</p>
        		<a id ="signupbutton" class="btn btn-large btn-success" onclick="showRegistration()">Sign up today</a>
			</div>
			<div  class="wrap">
	   		    <div class="Regisration">
				  	<div class="Regisration-head">
				    	<h2><span></span>Register</h2>
				 	</div>
					<form autocomplete="off" action="/users" method="post" id="signup_form" required>
						<input type="text" name="fname" placeholder="First Name" required>
						<input type="text" name="lname" placeholder="Last Name" required>
						<input type="text" name="email" placeholder="Email Address" required>
						<input type="password" name="password" placeholder="Password" required>
						<input type="password" name="cpassword" placeholder=" Confirm Password" required>
						<div class="Remember-me">
							<div class="submit">
								<input type="submit" value="Sign Me Up" >
							</div>
							<div class="clear"></div>
						</div>
					</form>
				</div>
				<hr>
				<div class="row-fluid marketing">
        		  <div class="col-md-6">
		            <h4 class="sub">Subheading</h4>
		            <p style="color:black">Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
		
		            <h4 class="sub">Subheading</h4>
		            <p style="color:black">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
		
	  	            <h4 class="sub">Subheading</h4>
		            <p style="color:black">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
		          </div>
		
		          <div class="col-md-6">
		            <h4 class="sub">Subheading</h4>
		            <p style="color:black">Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
		
		            <h4 class="sub">Subheading</h4>
		            <p style="color:black">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
		
		            <h4 class="sub">Subheading</h4>
		            <p style="color:black">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
		          </div>
		        </div>
		          <div class="footer">
       				<p style="color:black">&copy; Company 2016</p>
      			  </div>
			</div>
		</div>
	</container>
<h1><%=@current_user%></h1>
</body>
</html>


