<meta name="viewport" content="width=device-width,
                                   initial-scale=1.0,
                                   maximum-scale=1.0,
                                   user-scalable=no,
                                   minimal-ui">
    <link rel="stylesheet" href="//cdn.kik.com/app/2.0.1/app.min.css">
<script src="https://meet.jit.si/external_api.js"></script>

<div id="videoroot">
    <iframe src="https://larry.eng.uiowa.edu/hi"></iframe>
</div>