<h1><%=session[:current_user]["email"]%></h1>

<%
#game_score_query = client.query("GameScore")
#game_score_query.eq("objectId", "GeqPWJdNqp")
#game_score_query.include = "game"
#game_score = game_score_query.get


@a = @client.query("User_Group")
@a.eq("objectId", "Z9SImOxQA8")
@a.include = "group_ptr"

@b = @a.get.first

@c = @user_group_query = @client.query("User_Group").tap do |q|
        q.eq("user_id", session[:current_user]["objectId"])
        q.include = "group_ptr,user_info_ptr"
end.get

@user_info = @client.query("User_Info").eq("user_objectId", session[:current_user]["objectId"]).get.first

@d = @client.query("User_Group").tap do |q|
        q.eq("user_info_ptr", Parse::Pointer.new({"className" => "User_Info","objectId"  =>  @user_info["objectId"]}))
        q.include = "group_ptr,user_info_ptr"
end.get

%>
<div><%= @d[0]["user_info_ptr"]["email"] %> </div>