.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

.project {
    margin: 5px;
    padding: 15px;
    width: 300px;
    height: 300px;
    display: inline-block;
    vertical-align: middle;
} 

img {
    display:block;
    margin:auto;
    background-color: white;
    padding: 1%;
}

h2 {
    text-align: center;
    text-decoration: none;
}

p {
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.box{
    display: none;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: static;
    z-index: 0;
}

.center_wrapper{
    text-align: center;
}

#accept_btn, #decline_btn{
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 3px;
    padding: 2px 6px;
    font-size: 12px;
}

#group_pic{
    width: 25%;
    margin: auto;
    margin-bottom: 12px;
}

#group_info{
    width: 75%;
    margin: auto;
}

#custom_footer{
    height: 50px;
}

.button-right{
    margin-left: 2px;
    margin-right: 2px;
    float: right;
}

#form_cancel{
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

#add_user_modal{
    position: fixed;
    top: 23%;
    overflow: auto;
    margin: auto;
}

@media only screen and (max-width: 769px) {
    #add_user_modal{
        position: fixed;
        width: 100%;
        top: 23%;
        margin: auto;
    }
}

#new_member{
    cursor: pointer;
}
.modalOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3); /* black semi-transparent */
}

#modal_name{
    display:inline-block;
}
#modal_name_input{
    width: 60%;
    display:inline-block;
}
h2{
    color: white;
}