// Place all the styles related to the sprints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*body {
  min-width: 520px;
}*/

.poker_checkbox {
  padding-top: 15px;
}
.main {
  text-align: left;
}
#display_difficulty {
  display: none;
  margin-top: 0px;
}

#hidden_difficulty {
  display: none;
  padding-top: 15px;
}

#edit_hidden_difficulty {
  display: none;
  padding-bottom: 15px;
}
.column {
  width: 175px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-bottom: 100px;
}
.portlet {
  margin: 0 1em 1em 0;
  //margin: .8em;
  padding: 0.3em;
}
.portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
}
.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}
.portlet-content {
  padding: 0.4em;
}
.portlet-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
}

.title {
  color: #89bdd3;
}
.sprint_container {
  margin-left: 14%;
  margin-right: 14%;
  display: inline-block;
  width: 72%;
  background-color: #e3e3e3;
}
.tilt.right {
  transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
}
tilt.left {
  transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
}
.menu {
  background-color:white;
  width: 15%;
  height: 100%;
  margin: 0 1em 1em 0;
  padding: 0.3em;
  float: left;
}

.menu li {
  margin: 0 1em 1em 0;
}
#abc {
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto
}
#sprintPopup {
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto
}
#editFeaturePopup {
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto
}
img#close {
  position:absolute;
  right:5px;
  top:5px;
  height: 25px;
  width: 25px;
  cursor:pointer
}
div#popupContact {
  position:absolute;
  left:50%;
  top:17%;
  margin-left:-202px;
  font-family:'Raleway',sans-serif
}
#form {
  max-width:300px;
  min-width:250px;
  padding:10px 50px;
  border:2px solid gray;
  border-radius:10px;
  font-family:raleway;
  background-color:#fff
}

#contactUs {
  background-color:#FEFFED;
  padding:20px 35px;
  margin:-10px -50px;
  text-align:center;
  border-radius:10px 10px 0 0
}

#name {
  width:100%;
  margin-bottom: 1em;
  padding:10px;
  font-size:16px;
  font-family:raleway
}
#sprintName{
  width:100%;
  margin-bottom: 1em;
  padding:10px;
  font-size:16px;
  font-family:raleway
}
#description{
  width:100%;
  margin-bottom: 1em;
  padding:10px;
  font-size:16px;
  font-family:raleway
}
#editfeaturename{
  width:100%;
  margin-bottom: 1em;
  padding:10px;
  font-size:16px;
  font-family:raleway
}
#editfeaturedescription{
  width:100%;
  margin-bottom: 1em;
  padding:10px;
  font-size:16px;
  font-family:raleway
}
#startDate{
  width:100%;
  margin-bottom: 1em;
} 
#endDate{
  width:100%;
  margin-bottom: 1em;
}
#message {
  background-image:url(../images/msg.png);
  background-repeat:no-repeat;
  background-position:5px 7px;
  width:82%;
  height:95px;
  padding:10px;
  resize:none;
  margin-top:30px;
  border:1px solid #ccc;
  padding-left:40px;
  font-size:16px;
  font-family:raleway;
  margin-bottom:30px
}
#submit {
  text-decoration:none;
  width:100%;
  text-align:center;
  display:block;
  background-color:#FFBC00;
  color:#fff;
  border:1px solid #FFCB00;
  padding:10px 0;
  font-size:20px;
  cursor:pointer;
  margin-top: 1em;
  border-radius:5px
}
#updatefeature{
  text-decoration:none;
  width:100%;
  text-align:center;
  display:block;
  background-color:#FFBC00;
  color:#fff;
  border:1px solid #FFCB00;
  padding:10px 0;
  font-size:20px;
  cursor:pointer;
  margin-top: 1em;
  border-radius:5px
}
#deletefeature {
  text-decoration:none;
  width:100%;
  text-align:center;
  display:block;
  background-color:#FFBC00;
  color:#fff;
  border:1px solid #FFCB00;
  padding:10px 0;
  font-size:20px;
  cursor:pointer;
  border-radius:5px;
  margin-top: 1em;
}
span {
  color:red;
  font-weight:700
}
button#popup {
  width:100%;
  height:55px;
  border-radius:3px;
  background-color:#cd853f;
  color:#fff;
  font-family:'Raleway',sans-serif;
  font-size:18px;
  cursor:pointer
}

//---------------------------------------------------------------------------------------
.my_sprint_container{
  display: inline-block;
  width: 90%;
  background-color: #e3e3e3;
  margin: auto;
  height: 92%;
  
}

.hundredPercent{
  width: 100%;
  height: 100%;
  clip: auto;
  position: absolute;
  overflow: hidden;
}

.my_col_header {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 100%;
}
.my_column_container
{
   width:100%;
   min-width:1035px;
   
}
.my_column {
  display: inline-block;
  vertical-align: top;
  position: relative;
  min-height: 16em;
  //padding-bottom:100px;
  //height: 100%;
  //background-color: white;
}

.board {
  margin-top: 2em;
  position:relative;
  width: 100%;
  height: 94%;
  margin: auto;
  background-color: #ADA7A7;
  bottom: 0;
  overflow: auto;
}

.board_header {
  position:relative;
  width:100%;
  //width: 99%;
  margin: auto;
  //height: 7%;
  height: 3em;
  background: #007ac7;
  //background: #4ABDAC;
  //overflow:auto;
  min-width:1035px;
  //board: solid black;
}

.my_title {
  font-size: 2.2em;
  color: white;
  height: 100%;
}

.sprintBar{
  width:100%;
  height: 3em;
  line-height: 3em;
  //background-color:black;
  background: #F7B733;
  //background: linear-gradient(#474747, #8C8C8C, #474747);
  text-align:left;
  margin-top: 1em;
  min-width:1035px;
}

.featureBar{
  width:100%;
  height: 3em;
  line-height: 3em;
  background-color: #FC4A1A; 
  margin-top: .5em;
  text-align:left;
  min-width:1035px;
}

.bar_title{
  display: inline-block;
  font-size: 2.2em;
  color: white;
  margin-left: 10px;
  cursor:pointer;
}
.bar_add_button{
  display: inline-block;
  float: right;
  font-size: 1em;
  color: white;
  margin-left: 1em;
  margin-right: 1em;
  cursor:pointer;
}

.toggle_sprint{
    display: inline-block;
    font-weight: bold;
    color: white;
    margin-left: 1em;
    font-size: 2em;
    cursor:pointer;
}

.toggle_feature{
    display: inline-block;
    font-weight: bold;
    color: white;
    margin-left: 1em;
    font-size: 2em;
    cursor:pointer;
}

.task_container{
  display: inline-block;
  position: relative;
  height: 13em;
  //margin: .8em;
  width: 85%;
  background-color:white;
  margin-top:.8em;
  margin-bottom:.8em;
  border-style: solid;
}
.task_header{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 2em;
  line-height: 2em;
  top:0;
  left:0;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  cursor:pointer;
  background-color:#D9D9D9;
  overflow:hidden;
  
}
.task_description{
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: left;
  height: 8.5em;
  padding: .6em;
  background-color:white;
  overflow:hidden;
  
}
.task_footer{
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 2em;
  line-height: 2em;
  left:0;
  bottom:0;
  background-color: #D9D9D9;
  overflow:hidden;
}

.task_hours{
  display: inline-block;
  position: relative;
  font-weight: bold;
  margin-right: 1em;
  float:right;
}

.task_worker{
  display: inline-block;
  position: relative;
  font-weight: bold;
  float:left;
  margin-left: 1em;
}

#tname {
  width:100%;
  margin-bottom: 1em;
  padding:10px;
  font-size:16px;
  font-family:raleway;
}
#tdescription{
  width:100%;
  margin-bottom: 1em;
  padding:10px;
  font-size:16px;
  font-family:raleway;
}
#editTaskPopup {
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto;
}
#edittaskname{
  width:100%;
  margin-bottom: 1em;
  padding:10px;
  font-size:16px;
  font-family:raleway
}
#edittaskdescription{
  width:100%;
  margin-bottom: 1em;
  padding:10px;
  font-size:16px;
  font-family:raleway;
}
#updatetask{
  text-decoration:none;
  width:100%;
  text-align:center;
  display:block;
  background-color:#FFBC00;
  color:#fff;
  border:1px solid #FFCB00;
  padding:10px 0;
  font-size:20px;
  cursor:pointer;
  margin-top: 1em;
  border-radius:5px;
}
#deletetask {
  text-decoration:none;
  width:100%;
  text-align:center;
  display:block;
  background-color:#FFBC00;
  color:#fff;
  border:1px solid #FFCB00;
  padding:10px 0;
  font-size:20px;
  cursor:pointer;
  border-radius:5px;
  margin-top: 1em;
}
#updateSprint{
  text-decoration:none;
  width:100%;
  text-align:center;
  display:block;
  background-color:#FFBC00;
  color:#fff;
  border:1px solid #FFCB00;
  padding:10px 0;
  font-size:20px;
  cursor:pointer;
  margin-top: 1em;
  border-radius:5px;
}
#deleteSprint {
  text-decoration:none;
  width:100%;
  text-align:center;
  display:block;
  background-color:#FFBC00;
  color:#fff;
  border:1px solid #FFCB00;
  padding:10px 0;
  font-size:20px;
  cursor:pointer;
  border-radius:5px;
  margin-top: 1em;
}
#editSprintName{
  width:100%;
  margin-bottom: 1em;
  padding:10px;
  font-size:16px;
  font-family:raleway;
}
#editStartDate{
  width:100%;
  margin-bottom: 1em;
} 
#editEndDate{
  width:100%;
  margin-bottom: 1em;
}
.taskhours{
  width:100%;
  margin-bottom: 1em;
  padding:10px;
  font-size:16px;
  font-family:raleway;
}